node_modules
Screenshots/AddNewMovie.jpg
Screenshots/AddNewUser.jpg
Screenshots/DeleteMovie.jpg
Screenshots/DeleteUser.jpg
Screenshots/Excercise 2.9/Delete - Favorite Movie.jpg
Screenshots/Excercise 2.9/Delete - User by Username.jpg
Screenshots/Excercise 2.9/Get - All Movies.jpg
Screenshots/Excercise 2.9/Get - All Users.jpg
Screenshots/Excercise 2.9/Get - Director by Name.jpg
Screenshots/Excercise 2.9/Get - Genre Description.jpg
Screenshots/Excercise 2.9/Get - Movie by Title.jpg
Screenshots/Excercise 2.9/Get - Movies by Director.jpg
Screenshots/Excercise 2.9/Get - Movies by Genre.jpg
Screenshots/Excercise 2.9/Get - User by Username.jpg
Screenshots/Excercise 2.9/Get- Actor by Name.jpg
Screenshots/Excercise 2.9/Get- Actor without Token (Unauthorized).jpg
Screenshots/Excercise 2.9/Get- All Actors.jpg
Screenshots/Excercise 2.9/Get- Documentation.jpg
Screenshots/Excercise 2.9/Login (returns JWT token).jpg
Screenshots/Excercise 2.9/Post - Add Favorite Movie .jpg
Screenshots/Excercise 2.9/Post - Add New User.jpg
Screenshots/Excercise 2.9/Put - Update User Info.jpg
Screenshots/Exercise 2.9.jpg
Screenshots/GetAllMovies.jpg
Screenshots/GetMovieByDirector.jpg
Screenshots/GetMovieByGenre.jpg
Screenshots/GetMovieByTitle.jpg
Screenshots/NoSQL Screenshots/Delete- User by Username.jpg
Screenshots/NoSQL Screenshots/NoSQL Screenshots.zip
Screenshots/NoSQL Screenshots/Read - Final movies.jpg
Screenshots/NoSQL Screenshots/Read - Final users.jpg
Screenshots/NoSQL Screenshots/Read - Movies by Genre and Director.jpg
Screenshots/NoSQL Screenshots/Read - Movies by Genre.jpg
Screenshots/NoSQL Screenshots/Read - Movies by Title.jpg
Screenshots/NoSQL Screenshots/Update - Director Bio.jpg
Screenshots/NoSQL Screenshots/Update - Movie description.jpg
Screenshots/NoSQL Screenshots/Update - User FavMovie.jpg
Screenshots/Postman Screenshots/Delete - Remove User (deregister).jpg
Screenshots/Postman Screenshots/Delete - Remove User Favorite Movie.jpg
Screenshots/Postman Screenshots/Get - Actor by Name.jpg
Screenshots/Postman Screenshots/Get - All Actors.jpg
Screenshots/Postman Screenshots/Get - All Movies.jpg
Screenshots/Postman Screenshots/Get - All Users.jpg
Screenshots/Postman Screenshots/Get - Movie by Director.jpg
Screenshots/Postman Screenshots/Get - Movie by Genre.jpg
Screenshots/Postman Screenshots/Get - Movie by Title.jpg
Screenshots/Postman Screenshots/Get - User by Username.jpg
Screenshots/Postman Screenshots/Post- Add New Favorite Movie.jpg
Screenshots/Postman Screenshots/Post- Add New User.jpg
Screenshots/Postman Screenshots/Postman Screenshots.zip
Screenshots/Postman Screenshots/Put - Update User Info.jpg
Screenshots/Postman Screeshots.zip
Screenshots/UpdateUsername.jpg
DeleteMovie.jpg
MovieActors.jpg
movies by actor - code.txt
movies by actor documentation.txt
MoviesByGenre-Thriller.jpg
SQL-Screenshots.zip
UpdateUserEmail.jpg
myFlixDB
noSQL script.txt
random sql.txt
Screenshots/Excercise 2.10/Login User.jpg
Screenshots/Excercise 2.10/Register New USer.jpg
Screenshots/Excercise 2.9/Excercise 2.9.zip
